<?php include APP_PATH.'index/view/partials/header.html';?>

  <div id="grid" class="scrollbar-hover">
    <div class="container">
      <div class="row" id="navtab">
        <section>
        <header><h3>自适应宽度</h3></header>
        <article>
          <div class="example">
            <ul class="nav nav-secondary nav-justified">
              <li class="">
                <a href="###">首页 </a>
              </li>
              <li class="active">
                <a href="###">动态 <span class="label label-badge label-success pull-right">4</span></a>
              </li>
              <li class="">
                <a href="###">项目 </a>
              </li>
              <li class="">
                <a class="dropdown-toggle" data-toggle="dropdown" href="###">更多 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="">任务</a>
                  </li>
                  <li>
                    <a href="">Bug</a>
                  </li>
                  <li>
                    <a href="">需求</a>
                  </li>
                  <li>
                    <a href="">用例</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
        </section>
    </div>
  </div>
</div>
<?php include APP_PATH.'index/view/partials/footer.html';?>
<script type="text/javascript">
    $('#navtab').on('click', '.nav > li:not(.disabled) > a', function() {
        var $item = $(this).parent('li');
        $item.parent().children('.active').removeClass('active');
        $item.addClass('active');
    });
</script>