<?php include APP_PATH.'index/view/partials/header.html';?>
<!-- 内容目录 -->
<div id="grid" class="scrollbar-hover">
  <div class="container">
    <div class="row">
      <div class="list list-condensed">
      <header>
        <h3><i class="icon-list-ul"></i> 共搜索到 <span class="text-danger"><?php echo $list->total();?> </span>条 <span class="text-danger"><?php echo htmlspecialchars($keyword);?> </span>相关信息</h3>
      </header>
      <div class="items items-hover">
      <?php if ($list->total() > 0) {?>
        <?php foreach ($list as $k => $v) {?>
        <div class="item">
          <div class="item-heading">
            <div class="pull-right"><a href="#"><i class="icon-chat"></i> 0 </a> &nbsp;&nbsp;<a href="#"><i class="icon-eye-open"></i> <?php echo 0;?> </a></div>
            <h4>
              <a href="/company/detail/<?php echo $v->hashid;?>.html"><?php echo $v->comname;?></a>
              <?php if (empty($v->status)) {
                  $label = 'label-warning';
                  $v->status = '未知';
              }elseif (strpos($v->status,'注销')!==false) {
                  $label = 'label-warning';
              }elseif (strpos($v->status,'吊销')!==false) {
                  $label = 'label-danger';
              }else{
                  $label = 'label-success';
              }?>
              <span class="label <?php echo $label;?>"><?php echo $v->status;?></span>
            </h4>
          </div>
          <div class="item-content" style="padding-top: 5px;">
            <i class="icon-user"></i> &nbsp; <span class="text"><?php echo $v->opername;?></span>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <?php if (!empty($v->registcapi)){ ?>
              <i class="icon-yen"></i> &nbsp; <span class="text"><?php echo $v->registcapi;?></span>
              &nbsp; &nbsp; &nbsp; &nbsp;
            <?php } ?>
            <?php if(!empty($v->startdate) && ($year = (time()-$v->startdate)/31536000)<40){
                    if ($year<0) {
                      break;
                    }elseif ($year<1) {
                      $year = '成立1年以内';
                    }elseif ($year<5) {
                      $year = '成立1~5年';
                    }elseif ($year<10) {
                      $year = '成立5~10年';
                    }elseif ($year<15) {
                      $year = '成立10~15年';
                    }else {
                      $year = '成立15年以上';
                    }
              ?>
            <i class="icon-time"></i> &nbsp; <span class="text"><?php echo $year;?></span>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <?php } ?>
            <?php $contact = json_decode($v->contactinfo,true);?>
            <?php if (isset($contact['phonenumber']) && !empty($contact['phonenumber'])) { ?>
            <i class="icon-phone-sign"></i> &nbsp; <span class="text"><?php echo $contact['phonenumber'];?></span>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <?php }?>
            <?php if (isset($contact['website']) && !empty($contact['website'])) { ?>
            <i class="icon-ie"></i> &nbsp; <a href="<?php echo $contact['website'];?>"><?php echo $contact['website'];?></a>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <?php }?>
            <?php if (isset($contact['email']) && !empty($contact['email'])) { ?>
            <i class="icon-envelope"></i> &nbsp; <span class="text"><?php echo $contact['email'];?></span>
            <?php }?>
            <?php if (!empty($v->address)){ ?>
            <div class="text" style="padding-top: 5px;">
              <i class="icon-map-marker"></i> &nbsp; <span class="text"><?php echo $v->address;?></span>
            </div>
            <?php }?>
            <?php if (!empty($v->scope)){ ?>
            <div class="text" style="padding-top: 5px;">
              <i class="icon-list-alt"></i> &nbsp;
              <span class="text"><?php echo $v->scope;?></span>
            </div>
            <?php }?>
          </div>
          <div class="item-footer">
            <a href="#" class="text-muted"><i class="icon-comments"></i> 0</a> &nbsp; <span class="text-muted"><?php echo date('Y年m月d日',$v->startdate)?></span>
          </div>
        </div>
        <?php } ?>
        <?php echo $list->render();?>
        <?php }else{?>
          <div class="item">
            <div class="item-content text-center" style="padding: 15px 0;">
                  暂未查询到 <span class="text-danger"><?php echo htmlspecialchars($keyword);?> </span> 相关信息,建议您输入更详细的关键词进行搜索
            </div>
          </div>
        <?php }?>
      </div>
    </div>
    </div>
  </div>
</div>
<?php include APP_PATH.'index/view/partials/footer.html';?>