
#search {
    max-width: 660px;
    padding: 25px 20px 85px;
    margin: 0 auto;
}

.desc {
  font-size: 17px;
}

#heading > p {
    filter: alpha(opacity=65);
    opacity: .95;
    font-weight: 200;
}

#searchInput {
  border-radius: 0;
  text-align: center;
  padding: 5px 16px;
}

.copyright {
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #e5e5e5;
}

.copyright a{
  font-weight: 400;
  color: #353535;
}