<!DOCTYPE html>
<html class="screen-desktop-wide device-desktop" lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>专业的法人信息检索平台-法人堂</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="法人堂，法人，企业法人，工商信息查询，企业联系方式" />
  <meta name="description" content="法人堂是一个专业的企业法人信息检索平台，致力于提供简单、可靠、真实的法人信息检索查询服务。" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.7.0/css/zui.min.css">
  <link href="/static/doc.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="ad-xuanxuan" cz-shortcut-listen="true">
<header id="header" class="bg-primary">
  <div class="navbar navbar-inverse navbar-fixed-top" id="navbar" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".zui-navbar-collapse">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><span class="path-zui-36"><i class="path-1"></i><i class="path-2"></i></span> <span class="brand-title">法人堂 <i data-toggle="tooltip" id="compactTogger" data-placement="bottom" class="icon icon-home" data-original-title="" title=""></i></a>
      </div>
      <nav class="collapse navbar-collapse zui-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="navDownloadLink"><a title="" class="format-pkg" href="#"><i class="icon icon-windows"></i><span> 主菜单</span></a></li>
          <li><a href="/user/login" target="_blank"><i class="icon icon-user"></i><span> 登录</span></a></li>
          <li><a href="/user/register" target="_blank"><i class="icon icon-circle-arrow-up"></i><span> 注册</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <style type="text/css">
    #search {
        max-width: 660px;
        padding: 25px 20px 85px;
        margin: 0 auto;
    }
    .desc {
      font-size: 17px;
    }
    #heading > p {
        filter: alpha(opacity=65);
        opacity: .95;
        font-weight: 200;
    }
    #searchInput {
      border-radius: 0;
      text-align: center;
      padding: 5px 16px;
    }
  </style>
  <div id="headContainer">
    <div class="container">
      <div id="heading">
        <h1>法人堂</h1>
        <p class="desc">稳定、快速、真实的企业法人信用信息检索服务</p>
        <p><span class="package-amount">共收录 <strong>30457528</strong> 个企业法人信息</span></p>
      </div>
      <div id="search">
        <div id="searchForm">
          <input class="form-control input-lg" id="searchInput" placeholder="企业名称、法人名称、联系方式" type="text" autocomplete="off">
          <i class="icon icon-search"></i>
          <button id="searchHelpBtn" type="button" class="btn btn-link"><i class="icon icon-question"></i></button>
        </div>
      </div>
    </div>
    <div class="text-center" id="ad">
      <a id="xuanxuan" href="#"><i class="icon icon-xuanxuan"></i> <span class="hidden-xs inline">稳定、快速、真实的企业法人信用信息检索服务</span></a>
    </div>
  </div>
</header>