<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="法人堂团队">
    <meta name="keywords" content="">
    <title><?php echo $title;?></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.7.0/css/zui.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/user.css">
  </head>

  <body class="bare-body">
      <header class="bare-header">
        <div>
        <img src="/images/app/Steer-logo.png" srcset="https://www.newsteer.com/images/app/Steer-logo.png 1x, /images/app/Steer-logo@2x.png 2x" alt="Steer logo">
          <!--<img src="/favicon.ico"  width="105px" height="26px" alt="法人堂">-->
        </div>
        <div class="small-tagline">法人堂团队</div>
      </header>